template {
  injection-language: 'ruby';
  injection-content: child(children(this(), 'directive', 'output_directive'), 1, 'code');

  injection-language: 'html';
  injection-content: children(this(), 'content');
}
